.legend-frame {
	clear:both;
}
#GraphPreferences dd input {
  floet:left;
  clear: left;
}
#GraphPreferences dd p {
  width:230px;
  clear:right;
  float:right;
  margin:0;
}
#GraphPreferences dd {
  clear:both;
  width:300px;
}
dd#save-element {
  width:95%;
}
.vert {
  background-color: #9bde5c;
}
.bleu {
   background-color: #d5726d;
   color: #111111;
}